{% extends "base.html" %}
{% block title %}Recently added{% endblock %}
{% block content %}
{% if files %}
<table>
<thead>
<tr>
<th>Owner</th>
<th>File</th>
<th>Type</th>
<th class="size">Size</th>
<th>Date</th>
</tr>
</thead>
<tbody>
{% for file in files %}
<tr>
<td class="user">
	<a class="user" href="/?user={{ file.owner }}">{{ file.owner }}</a>
</td>
<td class="url">
	<a class="file" href="{{ file.url }}">{{ file.name }}</a>
</td>
<td class="type">{{ file.type }}</td>
<td class="size">{{ file.size }}</td>
<td class="date">{{ file.date }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>No files.</p>
{% endif %}
{% endblock %}
