<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{% block title %}Dead Channel{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/styles.css"/>
<link rel="alternate" type="application/rss+xml" title="Афиша в RSS" href="http://feeds.feedburner.com/deadchannel/events"/>
<link rel="edit" title="Добавить" href="/submit"/>
<link rel="shortcut icon" type="image/jpeg" href="/favicon.ico"/>
{% if gaid %}<script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', '{{ gaid }}']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>{% endif %}
</head>
<body>
<div id="wrapper">
<h1>{% block header %}Dead Channel{% endblock %}</h1>
<p id="motto">Афиша тёмной сцены Санк-Петербурга.</p>
{% block content %}{% endblock %}
<div id="sidebar">
<p><a href="http://code.google.com/p/umonkey-tools/wiki/DeadChannel?wl=ru" target="_blank" class="external">Что это за сайт?</a></p>
<p>Пожелания и информацию о концертах отправляйте на <a href="mailto:info@deadchannel.ru">info@deadchannel.ru</a>.</p>
<p>Ищешь новости?&nbsp; Они переехали на <a href="http://news.deadchannel.ru/" class="external" target="_blank">news.deadchannel.ru</a>.</p>
</div>
</div>
</body>
</html>
