{% extends "base.html" %}
{% block content %}
{% if events %}
<p id="motto">Афиша тёмной сцены Санк-Петербурга.</p>
<table id="events" summary="Предстоящие события">
<tbody>
{% for event in events %}
<tr>
<td class="date">{{ event.date|date:"d.m" }}</td>
<td class="title"><a href="{{ event.short_url }}" class="external" target="_blank">{{ event.title }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>Нет событий.</p>
{% endif %}

<div class="slinks">
<h2>Информационная рассылка</h2>
<ul>
<li><a href="/subscribe">Подписаться</a></li>
<li><a href="/unsubscribe">Отписаться</a></li>
</ul>
</div>
{% endblock %}
