<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<meta charset="utf-8"/>
<title>{% if title %}{{ title }} — {% endif %}Dead Channel</title>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
<link href="/static/favicon.ico" rel="shortcut icon" type="image/png"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/scripts.js"></script>
</head>
<body>
<div id="content">
	<div id="header">
		<h1><a href="/">Dead Channel</a>: новости тёмной сцены и киберпанка</h1>
	</div>
	<div id="sidebar">{% block sidebar %}{% endblock %}</div>
	<h2>{% block title %}some title{% endblock %}</h2>
	{% block content %}{% endblock %}
	<div id="footer">
</div>
{% block footer%}
<!--
{% if user %}
	<a href="{{ log_in_out_url }}">Log out</a> |
	<a href="/submit">Submit News</a>
{% else %}
	<a href="{{ log_in_out_url }}">Log in</a>
{% endif %}
-->
{% endblock %}
</div>
</body>
</html>
