{% extends "base.html" %}
{% block title %}{{ node.title }}{% endblock %}
{% block content %}
	{% if comments %}
		<div id="comments">
			<h2>Комментарии</h2>
			{% for c in comments %}
				<div class="comment">
					<div class="author">
						<span class="avatar"><img src="{{ c.author|gravatar:24 }}"/></span>
						<span class="name">{{ c.author }}</span><br/><span class="date">{{ c.added|date:"d.m.y" }}</span>
					</div>
					<div class="text">{{ c.text }}</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if user %}
		<div id="commentform">
			<form method="post">
				<div>
					<h3 class="intro"><span>Прокомментируй новость</span> (HTML не поддерживается):</h3>
					<textarea class="text" name="comment"></textarea>
				</div>
				<button><span>Отправить комментарий</span></button>
			</form>
		</div>
	{% endif %}
{% endblock %}
