{% extends "base.html" %}
{% block title %}
	{% if node.link %}<a href="{{ node.link }}" class="external" target="_blank">{% endif %}
	{{ node.title }}
	{% if node.link %}</a>{% endif %}
{% endblock %}
{% block content %}
	{% if node.picture %}
		<div id="nodepicture">
			<img src="{{ node.picture }}" alt="picture"/>
		</div>
	{% endif %}
	<div class="meta">
			<span class="date">{{ node.added|date:"d.m.y" }}</span>
	</div>
	{% if comments %}
		<div id="comments">
			<!--
			<h2>Комментарии</h2>
			-->
			{% for c in comments %}
				<div class="comment" id="comment-{{ c.id }}">
					<div class="author">
						<span class="avatar"><img src="{{ c.author|gravatar:24 }}" alt="avatar"/></span>
						<span class="name">{{ c.author }}</span><br/><span class="date"><a href="#comment-{{ c.id }}">{{ c.added|date:"d.m.y" }}</a></span>
					</div>
					<div class="text">{{ c.text }}</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	<div id="commentform" class="comment">
		{% if user %}
			<div class="author">
				<span class="avatar"><img src="{{ user|gravatar:24 }}" alt="avatar"/></span>
				<span class="name">{{ user }}</span><br/><span class="date">только что</span>
			</div>
			<div class="text">
				<form method="post">
					<textarea placeholder="Оставь свой комментарий здесь (HTML не поддерживается)." name="comment"></textarea>
					<button><span>Отправить комментарий</span></button>
				</form>
			</div>
		{% else %}
			<p>Нужно <a href="{{ log_in_out_url }}">залогиниться</a>, чтобы оставить комментарий.</p>
		{% endif %}
	</div>
{% endblock %}
