[Desktop Entry]
Version=1.0
Name=tmradio.net client
Name[ru]=Клиент tmradio.net
Comment=A Twitter client
Comment[ru]=Клиент для Тоже мне радио
Exec=tmradio-client
Icon=audio-x-generic
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Network;
