Package: sayhours
Version: 1.0
Section: sound
Priority: optional
Maintainer: Justin Forest <justin.forest@gmail.com>
Architecture: all
Essential: no
Depends: sox
Suggests: saytime
Installed-Size: 2188
Description: sayhours is a script that speaks current time (hours only)
  in Russian.  Unlike saytime, samples are well processed.  The script is
  designed to be run as a cron job.  The package contains several samples
  for each hour, both male and female, chosen randomly each time.  More
  samples are welcome.
Homepage: http://umonkey-tools.googlecode.com/
